<hr class="bg-secondary">
<div class="container col-12 col-sm-10 col-md-9 d-flex flex-column align-items-center">
    <h3>Contact US</h3>

    <hr>

    <form class="col-sm-10">
      <div class="form-group row">
        <label class="col-form-label col-sm-4 col-md-3 col-lg-2" for="user-name">Your Name</label>
        <div class="input-group col-sm-8 col-md-9 col-lg-10">
          <span class="input-group-addon">
            <i class="fa fa-user"></i>
          </span>
          <input type="text" class="form-control" id="user-name" placeholder="name">
        </div>
      </div>
      
      <div class="form-group row">
        <label class="control-label col-sm-4 col-md-3 col-lg-2" for="user-surname">Family Name</label>
        <div class="input-group col-sm-8 col-md-9 col-lg-10">
          <span class="input-group-addon">
            <i class="fa fa-user"></i>
          </span>
          <input type="text" class="form-control" id="user-surname" placeholder="family-name">
        </div>
      </div>
      
      <div class="form-group row">
        <label class="control-label col-sm-4 col-md-3 col-lg-2" for="email">E-mail</label>
        <div class="input-group col-sm-8 col-md-9 col-lg-10">
          <span class="input-group-addon">
            <i class="fa fa-envelope"></i>
          </span>
          <input type="email" class="form-control" id="email" placeholder="E-mail address">
        </div>
      </div>
      
      <div class="form-group row">
        <label class="control-label col-sm-4 col-md-3 col-lg-2" for="number">Phone #</label>
        <div class="input-group col-sm-8 col-md-9 col-lg-10">
          <span class="input-group-addon">
            <i class="fa fa-phone"></i>
          </span>
          <input type="tel" class="form-control" id="number" placeholder="+32400112233">
        </div>
      </div>
      
      <div class="form-group row">
        <label class="control-label col-sm-4 col-md-3 col-lg-2" for="message">Your Message</label>
        <div class="input-group col-sm-8 col-md-9 col-lg-10">
          <span class="input-group-addon">
            <i class="fa fa-pencil"></i>
          </span>
          <textarea class="form-control" rows="3" placeholder="Message" id="message"></textarea> 
        </div>
        
      </div>
      <hr>
      <button type="submit" class="btn btn-warning btn-block col-sm-4 col-md-3 col-xl-2 contactSubmit">
        Send Message
        <i class="fa fa-paper-plane"></i>
      </button>
    </form>

  </div>

  <hr class="bg-secondary">