<div class="container-fluid p-5">
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Plain Text:</label>
                <textarea class="form-control bg-primary text-light" id="plainText" rows="3"></textarea>
                <input type="text"
                    class="form-control bg-dark text-light" name="" id="secretKey" aria-describedby="helpId" placeholder="Secret Key">
              </div>

                <button type="submit" id="encode" class="btn btn-outline-primary">ENCODE</button> 
                <button type="submit" id="decode" class="btn btn-outline-primary">DECODE</button> 
        </div>
        
    </div>
</div>

