
<div class="container-fluid p-5">
    <div class="row">
        <div class="col-12">
            <h1>Section: Data Encrypt Tool</h1>
            <div class="form-group">
              <label for="plaintext">Plain Text:</label>
              <textarea class="form-control bg-primary text-light" name="" id="plainText" rows="3"></textarea>
              <input type="text" name="" id="secretKey" class="form-control bg-dark text-light" placeholder="Secret Key" aria-describedby="helpId">
            </div>
            <button type="submit" id="encode" class="btn btn-outline-danger">ENCODE DATA</button>
            <button type="submit" id="decode" class="btn btn-outline-primary">DECODE DATA</button>
        </div>
    </div>
</div>
<hr>