<div class="container">
    <hr>
  <div class="content p-4">
    <h1>
      <a href="/"><%=singlePost.title%></a>
    </h1>
    <img src="https://loremflickr.com/g/320/240/news"  class="img-fluid rounded-right" alt="">
    <ul class="posts">
      <li>
        <h5>February 14, 2014</h5>
        <hr>
        <div class="postContent">
          <p><%=singlePost.body%></p>
          
          
          <hr>
        </div>
      </li>
    </ul>
  
  </div>


</div>