body {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
    background: url(header.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Create two columns/boxes that floats next to each other */
nav {
    float: left;
    width: 25%;
    height: 300px;
    background: #ccc;
    padding: 20px;
}

/* Style the list inside the menu */
nav ul {
    list-style-type: none;
    padding: 0;
}

article {
    float: left;
    padding: 20px;
    width: 50%;
    background-color: #f1f1f1;
    height: 300px;
}

/* Clear floats after the columns */
section:after {
    content: "";
    display: table;
    clear: both;
}

footer {
    background-color: #2b414c;
    padding: 10px;
    text-align: center;
    color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {

    nav,
    article {
        width: 100%;
        height: auto;
    }
}

nav ul li a {
    display: inline-block;
    background: #333;
    color: #fff;
    text-align: center;
    width: 100%;
    text-decoration: none;
    padding: 1em 2em;
    border: 1px solid #666;
    margin: 0.5em 0;
}

nav ul li a:hover {
    display: inline-block;
    background: #a40001;
    color: #fff;
    text-align: center;
    width: 100%;
    text-decoration: none;
    padding: 1em 2em;
    border: 1px solid #666;
    margin: 0.5em 0;
}

header h2:hover {
    color: #FF9800;
}

.rightMenu {
    float: right;
    width: 25%;
    height: 300px;
    background: #ccc;
    padding: 20px;
}

.menu {
    height: 20px;
    width: 100%;
    background-color: blueviolet;
    position: sticky;
    top: 0px;
    margin: 0 auto;
}

.menu ul li {
    list-style-type: none;
}